* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input, button, textarea {
  font: inherit;
  border: none;
  outline: none;
  resize: none;
}

ol, ul {
  list-style: none;
}

body {
  font-family: "DM Sans", sans-serif;
  background: rgb(30, 30, 30);
}
body #root {
  width: 100%;
  font-size: 1rem;
  position: relative;
}
body #root main {
  width: 100%;
}

.main-section {
  min-height: 100vh;
  padding-top: 1rem;
  background: rgb(30, 30, 30);
  overflow-x: hidden;
}
.main-section .illustrator {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-section .illustrator img {
  height: 100%;
}
.main-section .images {
  padding: 1.5rem 0;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  position: relative;
  transition: 0.4s;
}
.main-section .images li {
  height: 10vw;
  width: 16vw;
  margin: 0 2vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-section .images li img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
.main-section .images li:before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}
.main-section .images li.active img {
  border: rgb(230, 230, 230) solid 0.25rem;
  box-shadow: 0 0 0.5rem rgba(230, 230, 230, 0.6), 0 0 1rem rgba(230, 230, 230, 0.4), 0 0 1.5rem rgba(230, 230, 230, 0.2);
}
.main-section .images li.active:before {
  opacity: 0;
}
.main-section .container {
  padding: 1rem;
}
.main-section .container h1 {
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}
.main-section .container p {
  color: rgb(200, 200, 200);
}
.main-section .container hr {
  margin: 1rem 0;
  border-color: rgb(255, 255, 255);
}
.main-section .container .playlist {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.main-section .container .playlist ion-icon {
  margin-left: 0.5rem;
}
.main-section .container .social-media li button {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
  color: var(--i);
  font-size: 2rem;
}

@media only screen and (min-width: 600px) {
  .main-section .illustrator {
    height: 50vh;
  }
  .main-section .container {
    padding: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .main-section {
    height: 100vh;
    padding-top: 0;
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: calc(100vh - 10vw - 3rem) calc(10vw + 3rem);
  }
  .main-section .illustrator {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .main-section .illustrator img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main-section .images {
    grid-column: 1/3;
    grid-row: 2;
  }
  .main-section .container {
    grid-column: 2;
    grid-row: 1;
  }
  .main-section .container p {
    max-height: 30vh;
    overflow: auto;
    position: relative;
  }
}/*# sourceMappingURL=MainSection.css.map */