* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input, button, textarea {
  font: inherit;
  border: none;
  outline: none;
  resize: none;
}

ol, ul {
  list-style: none;
}

body {
  font-family: 'DM Sans', sans-serif;
}

body #root {
  width: 100%;
  font-size: 1rem;
  position: relative;
}

body #root main {
  width: 100%;
  background: #1e1e1e;
  overflow-x: hidden;
}

.main-section {
  min-height: 100vh;
  background: #1e1e1e;
}

.main-section .illustrator {
  height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section .illustrator img {
  height: 100%;
}

.main-section .images {
  padding: 1rem 0;
  position: relative;
}

.main-section .images ul {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5vw;
  place-items: center;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-section .images ul li {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section .images ul li img {
  height: 100%;
  width: 30vw;
  cursor: pointer;
}

.main-section .images ul li:before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}

.main-section .images ul li.active img {
  border: #e6e6e6 solid 0.25rem;
  -webkit-box-shadow: 0 0 0.75rem rgba(230, 230, 230, 0.6), 0 0 1.5rem rgba(230, 230, 230, 0.4), 0 0 2.25rem rgba(230, 230, 230, 0.2);
          box-shadow: 0 0 0.75rem rgba(230, 230, 230, 0.6), 0 0 1.5rem rgba(230, 230, 230, 0.4), 0 0 2.25rem rgba(230, 230, 230, 0.2);
}

.main-section .images ul li.active:before {
  opacity: 0;
}

.main-section .container {
  padding: 0 1rem;
  color: white;
}

.main-section .container hr {
  margin: 0.5rem 0;
  border-color: white;
}

.main-section .container p {
  padding: 0.5rem 0;
  color: #c8c8c8;
}

.main-section .container .social-media li button {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  color: var(--i);
  font-size: 2rem;
}

@media only screen and (min-width: 600px) {
  .main-section .illustrator {
    height: 50vh;
  }
  .main-section .images button {
    height: 3rem;
    width: 3rem;
  }
  .main-section .container {
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .main-section .illustrator {
    height: 60vh;
  }
  .main-section .container {
    padding: 0 4rem;
  }
}

@media only screen and (min-width: 992px) {
  .main-section {
    height: 100vh;
  }
  .main-section .illustrator {
    padding-left: 25vw;
  }
  .main-section .images {
    height: 100vh;
    padding: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }
  .main-section .images ul {
    grid-auto-flow: row;
    grid-column-gap: 0;
    grid-row-gap: 5vh;
  }
  .main-section .images ul li {
    height: 16vh;
    width: 100%;
  }
  .main-section .images ul li img {
    height: 100%;
    width: auto;
  }
  .main-section .container {
    margin-top: 2rem;
    padding-left: calc(25vw + 3rem);
  }
}

@media only screen and (min-width: 1200px) {
  .main-section .images {
    left: 5vw;
  }
  .main-section .images ul {
    grid-row-gap: 5vh;
  }
  .main-section .images ul li {
    height: 16vh;
  }
}
/*# sourceMappingURL=MainSection.css.map */