@import "reset";
@import "variables";
@import "function";

body {
    font-family: 'DM Sans', sans-serif;
    background: $background;

    #root {
        width: 100%;
        font-size: 1rem;
        position: relative;

        main {
            width: 100%;
        }
    }
}