// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$primary: rgb(230, 230, 230);
$primary-variant: rgb(150, 150, 150);
$on-primary: rgb(0, 0, 0);
$on-primary-variant: rgb(30, 30, 30);

$background: rgb(30, 30, 30);
$on-background: rgb(255, 255, 255);
$on-background-variant: rgb(200, 200, 200);

$secondary: rgb(0, 255, 255);